body{font-family: Arial; background-color: #256999; box-sizing: border-box; padding-top: 150px;}
form{
    background-color: white;
    border-radius: 0 0 3px 3px;
    color: #999;
    font-size: 0.8em;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
}
input{
    border: 0;
    outline: none;
    padding:300px; 
}

#c input{
    width: 85px;
}
.field{
    border: solid 1px #ccc;
    border-radius: 0 4px 4px 0; 
    padding: 10px;
    width: 160px;
    
}

.field:focus{
    border-color: #18A383;
}
.center-contenet{
    text-align: center;
    
}
.field-container div{
    display: inline-block;
    vertical-align: top;
    
}
.field-container i{
    background-color: #ccc;
    border-radius: 4px 0 0 4px; 
    color: #888;
    padding: 12.3px 10px 11.3px 10px;
    border: solid 1px #ccc;
    max-height: 35px;
    margin-right: -5px;
    vertical-align: top;
    
}
.btn{
    border-radius: 3px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
}
.btn-red{
color: white;
background-color: #E34242;
}
.btn-red:hover{
background-color: #C43535;	
}
.btn-red:active{
background-color: #A62828;
}
.btn-green{
color: white;
background-color: #3CC93F;
}
.btn-green:hover{
background-color: #37B839;	
}
.btn-green:active{
background-color: #29962A;
}

.columns >div{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
    width: 150px;
}


#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li{
    display: inline-block;
    width: 50%;
    margin-right: -4px;
}

#menu ul li a{
    background-color: #ccc;
    color: #222;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}
#menu ul li a:hover{
    background-color: #eee;
}

 #menu{
    margin: 0 auto;
    width: 340px;
    
}

#formulariosnilton{
    margin: 0 auto;
    width: 340px;
}
.active{
    background-color: white !important;
}

.columns .field{
    width: 80px;
}

#form_register{
    display: none;
 
}

